.card{
    width:100%;
    height: 75vh;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 50%;
    height: 50%;
}
.button{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}